// USER VARIABLES SECTION
$accent: #592c82; // Accent Color
$fontsize: 16px; // Body Font Size
$base-font-size: $fontsize;
$textcolor: #2c2c2c; // Text Color
$mainfamily: Circe, sans-serif; // Main Font Family
$base-duration: 0.15s;
$base-timing: ease-in-out;
$maxWidth: 100%;
$contentPadding: 20px;

// IMPORT SECTION
@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss';
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss';
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss';

// FONTS LOAD SECTION
@mixin font($f-name, $f-style, $f-weight, $f-url) {
  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    src: url($f-url + '.woff2') format('woff2');
    src: url($f-url + '.woff') format('woff');
  }
}

@include font('Circe', light, 300, '../fonts/Circe-Light');
@include font('Circe', normal, 400, '../fonts/Circe-Regular');
@include font('Circe', bold, 700, '../fonts/Circe-Bold');
@include font('Circe', black, 900, '../fonts/Circe-ExtraBold');
@include font('ruble', normal, 400, '../fonts/rubl');
