$mobile-bp: 768px;

.page--technologists {
  font-family: $mainfamily;
  -webkit-font-smoothing: antialiased;
  // padding: 65px 0;
  .technologists-sidebar-col {
    width: 309px;
    flex: 0 0 auto;
    background-color: rgb(88, 44, 131);
    @media screen and (max-width: 1080px) {
      width: 278px;
    }
    @media screen and (max-width: 900px) {
      width: 231px;
    }
    @media screen and (max-width: $mobile-bp) {
      display: none;
    }
  }
  .technologists-content-col {
    flex-basis: calc(100% - 309px);
    max-width: calc(100% - 309px);
    @media screen and (max-width: 1080px) {
      flex-basis: calc(100% - 278px);
      max-width: calc(100% - 278px);
    }
    @media screen and (max-width: 900px) {
      flex-basis: calc(100% - 231px);
      max-width: calc(100% - 231px);
    }
    @media screen and (max-width: $mobile-bp) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  button,
  .btn,
  input[type='submit'] {
    display: inline-block;
    background-color: transparent;
    border-style: none;
    border-width: none;
    border-color: transparent;
    font-family: $mainfamily;
    transition: all $base-duration $base-timing;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    padding: 0;
    &:focus {
      outline: none;
    }
  }

  .btn-main {
    background-color: #592c82;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    &:hover {
      color: #fff;
      background-color: #dc2c7b;
    }
  }
  .btn-main--middle {
    padding: 10px 10px 12px 10px;
    @media screen and (max-width: $mobile-bp) {
      padding: 5px 5px 6px 5px;
      font-size: 20px;
    }
  }
  .btn-main--big {
    padding: 14px 10px 15px 10px;
    font-size: 24px;
    max-width: 250px;
    width: 100%;
    @media screen and (max-width: $mobile-bp) {
      padding: 7px 5px 7px 5px;
      font-size: 20px;
    }
  }
  .btn-main--small {
    padding: 6px 10px 4px 10px;
    font-size: 12px;
    max-width: 162px;
    width: 100%;
    font-weight: normal;
    @media screen and (max-width: $mobile-bp) {
      padding: 3px 5px 2px 5px;
      font-size: 12px;
    }
  }
  .h2-gray {
    display: block;
    background-color: #f5f5f5;
    font-size: 18px;
    padding: 5px 10px;
    color: #545454;
  }
  .technologists-h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: $accent;
    @media screen and (max-width: $mobile-bp) {
      font-size: 20px;
    }
  }
  .technologists-avatar {
    margin: 0 0 20px 5px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #abc4d0;
    @media screen and (max-width: $mobile-bp) {
      width: 125px;
      height: 125px;
    }
  }
  .technologists-tabs-item {
    position: relative;
    display: table;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .technologists-tabs-item-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    color: #fff;
    background-color: #ff0081;
    border-radius: 50%;
    line-height: 1px;
    font-size: 12px;
  }
  .technologists-tab-wrapper {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 10px;
      height: 20px;
      background-color: $accent;
    }
  }
  .technologists-tab-input {
    @extend .visually-hidden;
    &:checked + .technologists-tab-text {
      color: #592c82;
    }
  }
  .technologists-tab-text {
    font-size: 19px;
    font-weight: 300;
    color: #272727;
    transition: color $base-duration $base-timing;
    &:hover {
      color: #592c82;
    }
    @media screen and (max-width: $mobile-bp) {
      font-size: 16px;
    }
  }
  .technologists-tabs-block-h2 {
    margin-bottom: 20px;
  }
  .h2--technologists-tab {
    margin-bottom: 22px;
  }
  .technologists-table {
    width: 100%;
    font-size: 12px;
    line-height: 24px;
    color: $accent;
    tr {
      &:nth-child(odd) {
        background-color: #e6e0ec;
      }
      &.technologists-table-head {
        background-color: transparent;
      }
    }
    th {
      border-bottom: 1px solid #bfbfbf;
      padding: 4px 20px;
      @media screen and (max-width: $mobile-bp) {
        padding: 2px 5px;
      }
    }
    td {
      padding: 10px 20px;
      @media screen and (max-width: $mobile-bp) {
        padding: 5px 5px;
      }
    }
    a,
    button {
      color: $accent;
      &:hover {
        color: rgba($color: $accent, $alpha: 0.8);
      }
    }
    .text-pink {
      color: #ff0781;
    }
  }
  .text-pink {
    color: #ff0781;
  }
  .text-underline {
    text-decoration: underline;
  }
  .text-purple {
    color: #592c82;
  }
  .row--border {
    border-bottom: 1px solid #bfbfbf;
  }
  .row--technologists-main {
    padding: 0 0 44px 0;
    @media screen and (max-width: 1080px) {
      flex-wrap: wrap;
    }
  }
  .col-technologists-control {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    padding-right: 20px;
    @media screen and (max-width: 1080px) {
      flex: 0 0 100%;
      max-width: 100%;
      padding-right: 0;
      margin-bottom: 20px;
    }
  }
  .col-technologists-description {
    flex: 0 0 calc(100% / 3 * 2);
    max-width: calc(100% / 3 * 2);
    @media screen and (max-width: 1080px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .report-form-block {
    padding: 30px 0;
  }
  .report-form-block-title {
    font-size: 14px;
    font-weight: 300;
    color: #2c2c2c;
    margin-bottom: 22px;
  }
  .report-form-input-wrapper {
    display: block;
    width: 320px;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .custom-select {
    display: block;
    position: relative;
    min-width: 100px;
  }
  .custom-select select {
    display: none;
  }
  .select-items div,
  .select-selected {
    background-color: #fff;
    color: #2c2c2c;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 16px;
    cursor: pointer;
  }
  .select-items div {
    border-bottom: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    transition: color $base-duration $base-timing;
    &:hover {
      color: #a3a3a3;
    }
  }
  .select-selected {
    border: 1px solid #bfbfbf;
    color: #a3a3a3;
    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 32px;
      height: 100%;
      background-color: $accent;
    }
    &::before {
      position: absolute;
      right: 12px;
      top: 50%;
      content: '';
      width: 8px;
      height: 8px;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: translateY(-50%) rotate(45deg);
      z-index: 1;
      transition: transform $base-duration $base-timing;
    }
  }
  .select-arrow-active {
    &::before {
      transform: translateY(-50%) rotate(-135deg);
    }
  }
  .select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .select-hide {
    display: none;
  }
  .technologists-table-title {
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: $accent;
    padding: 6px 0;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 18px;
  }
  .technologists-main-table-wrapper {
    width: 100%;
    overflow-x: auto;
    .technologists-main-table--scroll-big {
      min-width: 1024px;
    }
    .technologists-main-table--scroll-middle {
      min-width: 700px;
    }
  }
  .technologists-main-table {
    width: 100%;
    margin-bottom: 20px;
    th,
    td {
      font-size: 12px;
      line-height: 16px;
    }
    th {
      color: $accent;
      background-color: #e6e0ec;
      padding: 3px 6px;
    }
    td {
      color: #272727;
      padding: 3px 3px;
    }
  }
  .technologists-main-table--border {
    th {
      padding: 6px;
    }
    td {
      padding: 10px 6px;
      border-bottom: 1px solid #bfbfbf;
    }
  }
  .technologists-input--table {
    padding: 3px 8px;
  }
  .custom-select--table {
    .select-items div,
    .select-selected {
      padding: 3px 16px;
    }
  }
  .technologists-main-btn {
    width: 148px;
    margin-right: 12px;
  }
  .technologists-main-btn--right {
    margin-left: auto;
  }
  .technologists-main-table-btns-block {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }
  .technologists-main-center-btn {
    display: block;
    margin: 35px auto;
    min-width: 364px;
  }
  .technologists-gray-table-wrapper {
    background-color: #f4f7f9;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .technologists-desc-subtitle {
    font-size: 12px;
    line-height: 24px;
    color: #272727;
  }
  .btn-spoiler-report {
    .btn-spoiler-report-text-open {
      display: none;
    }
    &.open {
      .btn-spoiler-report-text-close {
        display: none;
      }
      .btn-spoiler-report-text-open {
        display: inline-block;
      }
    }
  }
  .technologists-table-spoiler-wrapper {
    margin-bottom: 20px;
    &.hide {
      display: none;
    }
  }
  .technologists-report-head {
    margin-bottom: 20px;
  }
  .technologists-checkbox {
    @extend .visually-hidden;
    &:checked + .technologists-checkbox-fake::after {
      opacity: 1;
    }
  }
  .technologists-checkbox-fake {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
    border: 1px solid #592c82;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: #592c82;
      opacity: 0;
      transition: opacity $base-duration $base-timing;
    }
  }
  .technologists-table-checkbox-text {
    display: inline-block;
    color: #592c82;
    font-size: 24px;
    font-weight: 300;
    margin-left: 15px;
    vertical-align: middle;
    @media screen and (max-width: $mobile-bp) {
      font-size: 16px;
      margin-left: 10px;
    }
  }
  .btn--technologists-table-spoiler {
    margin-top: 20px;
  }
  .technologists-lk-input-text {
    display: inline-block;
    color: #592c82;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 2px;
  }
  .technologists-lk-input-text--edit-icon {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: -50px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url('../images/dest/icons/edit.png');
    }
  }
  .technologists-lk-input {
    border: none;
    width: 100%;
    color: #272727;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 2px solid #d2d2d2;
    padding: 12px 0;
    background-color: transparent;
    &:focus {
      border-color: 2px solid #cccccc;
    }
  }
  .technologists-lk-input--no-border {
    border: none;
  }
  .technologists-lk-form-input-row {
    flex-wrap: wrap;
    max-width: 530px;
  }
  .technologists-lk-form-col--1 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .technologists-lk-form-col--2 {
    flex-basis: calc((100% - 24px) / 2);
    max-width: calc((100% - 24px) / 2);
    margin-right: 24px;
    @media screen and (max-width: $mobile-bp) {
      flex-basis: 100%;
      max-width: 100%;
      margin-right: 0;
    }
  }
  .technologists-lk-form-col {
    margin-bottom: 20px;
    &:nth-child(3) {
      margin-right: 0;
    }
  }
  .technologists-lk-gray-col {
    flex-basis: calc((100% - 24px) / 2);
    max-width: calc((100% - 24px) / 2);
    margin-right: 24px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    @media screen and (max-width: $mobile-bp) {
      flex-basis: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .technologists-lk-gray-wrapper {
    background-color: #f4f7f9;
    padding: 20px 30px;
  }
  .technologists-lk-gray-title {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #592c82;
    margin-bottom: 20px;
  }
  .technologists-tabs-toggle-btn {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 70px 15px 6px;
    background-color: #e6e0ec;
    text-align: left;
    margin-bottom: 20px;
    &:hover {
      opacity: 0.8;
    }
    &::after {
      content: '';
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      width: 42px;
      height: 22px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url('../images/dest/icons/arrow_spiler_big.png');
      transition: transform $base-duration $base-timing;
    }
    &.open {
      &::after {
        transform: translateY(-50%) rotate(0);
      }
    }
  }
  .technologists-tabs-toggle-btn-title {
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #633c94;
  }
  .technologists-tabs-toggle-btn-name {
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #272727;
  }
  .technologists-tabs-info-inner {
    background-color: #f4f1f7;
    padding: 20px 30px;
    margin-top: 20px;
  }
  .technologists-tabs-info-text {
    font-size: 12px;
    color: #272727;
    margin-bottom: 16px;
  }
}
