{% extends "app/njk/layout/main.njk" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-technologists-control">
        <h2 class="h2-gray">Управление</h2>
      </div>
      <div class="col-technologists-description">
        <h2 class="h2-gray">Описание</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row--technologists-main row--border">
      <div class="col-technologists-control">
        <div class="technologists-avatar" style="background-image: url('./images/dest/img/profile.png');"></div>
        <div class="technologists-tabs">
          <ul>
            <li class="technologists-tabs-item">
              <label class="technologists-tab-wrapper">
                <input type="radio" class="technologists-tab-input" name="profile">
                <span class="technologists-tab-text">Профиль</span>
              </label>
            </li>
            <li class="technologists-tabs-item">
              <label class="technologists-tab-wrapper">
                <input type="radio" class="technologists-tab-input" name="profile">
                <span class="technologists-tab-text">Отчеты</span>
              </label>
            </li>
            <li class="technologists-tabs-item">
              <label class="technologists-tab-wrapper">
                <input type="radio" class="technologists-tab-input" name="profile">
                <span class="technologists-tab-text">Аттестация</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-technologists-description">
        <div class="technologists-tabs-block">
          <h1 class="technologists-h2 technologists-tabs-block-h2">Мои Отчеты</h1>
          <table class="technologists-table">
            <tr class="technologists-table-head">
              <th>Номер отчета</th>
              <th>Дата</th>
              <th colspan="2">Наименование</th>
            </tr>
            {% for i in range(0, 4) %}
              <tr>
                <td>№ ХХХХХХХ</td>
                <td>01.03.2020</td>
                <td>Отчет за март</td>
                <td align="right">
                  <a href="#">Смотреть отчет</a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="report-form-block">
    <div class="container">
      <form class="report-form">
        <p class="report-form-block-title">Для отправки отчета заполните форму ниже:</p>

        <label class="report-form-input-wrapper">
          <input type="text" class="technologists-input" placeholder="Номер банковской карты">
        </label>
        <div class="custom-select report-form-input-wrapper">
          <select>
            <option value="0">Месяц</option>
            <option value="1">Item1</option>
            <option value="2">Item2</option>
            <option value="3">Item3</option>
            <option value="4">Item4</option>
            <option value="5">Item5</option>
            <option value="6">Item6</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="technologists-table-block">
    <div class="container">
      <h3 class="technologists-table-title">ОБЗОРНЫЕ СЕМИНАРЫ, МАСТЕР-КЛАССЫ и ПРЕЗЕНТАЦИИ</h3>
      <table class="technologists-main-table">
        <tr class="technologists-main-table-head">
          <th>Дата проведения</th>
          <th>Адрес места проведения</th>
          <th>Наименование</th>
          <th>Продол-ть
            <br>(часов)</th>
          <th>Кол-во
            <br>
            участников</th>
          <th>ФИО и контакт участников</th>
          <th>Запись на семинар</th>
          <th>
            Сумма
            <br>продаж</th>
          <th>
            Сумма
            <br>компенсации</th>
        </tr>
        <tr>
          <td>20.10.2020</td>
          <td>Владивосток, Сельская 5а</td>
          <td>
            Неинвазивная карбокситерапия
            <br>
            ARAVIA Professional
          </td>
          <td>5</td>
          <td>1</td>
          <td>Китаева Наталья Юрьевна
            <br>
            89294293061</td>
          <td>нет</td>
          <td>0 руб</td>
          <td>0 руб</td>
        </tr>

        <tr>
          <td style="width: 100px">
            <input type="text" class="technologists-input technologists-input--table" placeholder="00.00.0000">
          </td>
          <td>
            <input type="text" class="technologists-input technologists-input--table" placeholder="Введите адрес">
          </td>
          <td>
            <div class="custom-select custom-select--table">
              <select>
                <option value="0">Выберите курс</option>
                <option value="1">Item1</option>
                <option value="2">Item2</option>
              </select>
            </div>
          </td>
          <td>
            <div class="custom-select custom-select--table">
              <select>
                <option value="0">1</option>
                <option value="1">Item1</option>
                <option value="2">Item2</option>
              </select>
            </div>
          </td>
          <td>
            <div class="custom-select custom-select--table">
              <select>
                <option value="0">1</option>
                <option value="1">Item1</option>
                <option value="2">Item2</option>
              </select>
            </div>
          </td>
          <td>
            <input type="text" class="technologists-input technologists-input--table" placeholder="Введите ФИО и контактный номер">
          </td>
          <td><input type="text" class="technologists-input technologists-input--table" placeholder="Введите, дату, ФИО и номер"></td>
          <td style="width: 80px"><input type="text" class="technologists-input technologists-input--table" placeholder="0 руб"></td>
          <td style="width: 80px"><input type="text" class="technologists-input technologists-input--table" placeholder="0 руб"></td>
        </tr>
        <tr>
          <td colspan="9" align="right">
            <button class="btn-main btn-main--small technologists-main-btn">Добавить</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="technologists-table-block">
    <div class="container">
      <h3 class="technologists-table-title">ОБУЧАЮЩИЕ СЕМИНАРЫ</h3>
      <table class="technologists-main-table">
        <tr class="technologists-main-table-head">
          <th>Дата проведения</th>
          <th>Адрес места проведения</th>
          <th>Наименование</th>
          <th>Продол-ть
            <br>(часов)</th>
          <th>Кол-во
            <br>
            участников</th>
          <th>ФИО и контакт участников</th>
          <th>
            Сумма продаж после обучения, руб.</th>
        </tr>
        <tr>
          <td>20.10.2020</td>
          <td>Владивосток, Сельская 5а</td>
          <td>
            Неинвазивная карбокситерапия
            <br>
            ARAVIA Professional
          </td>
          <td>5</td>
          <td>1</td>
          <td>Китаева Наталья Юрьевна
            <br>
            89294293061</td>
          <td>0 руб</td>
        </tr>

        <tr>
          <td style="width: 100px">
            <input type="text" class="technologists-input technologists-input--table" placeholder="00.00.0000">
          </td>
          <td>
            <input type="text" class="technologists-input technologists-input--table" placeholder="Введите адрес">
          </td>
          <td>
            <div class="custom-select custom-select--table">
              <select>
                <option value="0">Выберите курс</option>
                <option value="1">Item1</option>
                <option value="2">Item2</option>
              </select>
            </div>
          </td>
          <td>
            <div class="custom-select custom-select--table">
              <select>
                <option value="0">1</option>
                <option value="1">Item1</option>
                <option value="2">Item2</option>
              </select>
            </div>
          </td>
          <td>
            <div class="custom-select custom-select--table">
              <select>
                <option value="0">1</option>
                <option value="1">Item1</option>
                <option value="2">Item2</option>
              </select>
            </div>
          </td>
          <td>
            <input type="text" class="technologists-input technologists-input--table" placeholder="Введите ФИО и контактный номер">
          </td>
          <td style="width: 170px"><input type="text" class="technologists-input technologists-input--table" placeholder="0 руб"></td>
        </tr>
        <tr>
          <td colspan="7" align="right">
            <button class="btn-main btn-main--small technologists-main-btn">Добавить</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <button class="btn-main btn-main--big technologists-main-center-btn">Сохранить и отправить отчет</button>
  <div class="technologists-gray-table-wrapper container">
    <div class="technologists-table-block">
      <h3 class="technologists-table-title">ОПЛАТА РЕГИОНАЛЬНЫХ ТЕХНОЛОГОВ</h3>
      <table class="technologists-main-table technologists-main-table--border">
        <tr class="technologists-main-table-head">
          <th>Квалификационная
            <br>
            категория</th>
          <th>Обзорный семинар в студии дистриб.
            <br>
            (от 5-х чел., не менее 4 часов ), руб.</th>
          <th>Выездной обзорный семинар
            <br>
            (от 5-х чел., не менее 4 часов ), руб.</th>
          <th>Выездной обзорный семинар от 5 человек, не менее 4 часов,
            <br>
            свыше 100 км (доплата), руб.</th>
          <th>Презентация в салоне,
            <br>
            парикмахерской, руб.</th>
        </tr>
        <tr>
          <td>
            <strong>Технолог- I-го
              <br>
              уровня</strong>
          </td>
          <td>1000 рублей</td>
          <td>1000 рублей</td>
          <td>2000 рублей</td>
          <td>500 рублей</td>
        </tr>
        <tr>
          <td>
            <strong>Технолог- II-го
              <br>
              уровня</strong>
          </td>
          <td>1000 рублей</td>
          <td>1000 рублей</td>
          <td>2000 рублей</td>
          <td>500 рублей</td>
        </tr>
      </table>
    </div>
    <div class="technologists-table-block">
      <h3 class="technologists-table-title">Оплата региональных ТРЕНЕРОВ-КОНСУЛЬТАНТОВ (Organic, косметология или карбокситерапия)</h3>
      <table class="technologists-main-table technologists-main-table--border">
        <tr class="technologists-main-table-head">
          <th>Мероприятие</th>
          <th>Мастер-класс в студии дистрибьютора
            <br>(от 5-х чел., не менее 3 часов ), руб</th>
          <th>Выездной мастер-класс
            <br>
            (от 5-х чел., не менее 3 часов ), руб.</th>
          <th>Выездной мастер-класс от 5 человек, не менее 3 часов,
            <br>
            свыше 100 км (доплата), руб</th>
          <th>
            Презентация в салоне
            <br>(в студии), руб.</th>
        </tr>
        <tr>
          <td>
            <strong>Компенсация</strong>
          </td>
          <td>2000 рублей</td>
          <td>2000 рублей</td>
          <td>3000 рублей</td>
          <td>500 рублей</td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}