{% macro productCard(border="false", img ="./images/dest/img/sliderProduct.png", badge='', desc = "Крем лифтинговый с аминокислотами 
      и полисахаридами Anti-Wrinkle Lifting Cream, 
      100 мл, ARAVIA Professional", cost="1 633", discount="1 219") %}
  <div class="base-product-card">
    <button class="btn--favorites">
      <span class="visually-hidden">Добавить в избранное</span>
    </button>
    <button class="btn--basket">
      <span class="visually-hidden">Добавить в корзину</span>
    </button>
    <a href="#" class="base-product-card-inner">
      {% if badge === 'hit' %}
        <span class="base-product-card-badge base-product-card-badge--hit">ХИТ</span>
      {% endif %}
      {% if badge === 'new' %}
        <span class="base-product-card-badge base-product-card-badge--new">NEW</span>
      {% endif %}
      {% if border === true %}
        <div class="base-product-card-img base-product-card-img--border" style="background-image: url('{{img}}');">
        {% else %}
          <div class="base-product-card-img" style="background-image: url('{{img}}');">
          {% endif %}
        </div>
        <div class="base-product-card-text">
          <p class="base-product-card-desc">{{desc}}</p>
          <span class="base-product-card-cost">{{cost}}
            <span class="rub">i</span></span>
          <span class="base-product-card-bonus"><span class="base-product-card-bonus-cost">{{discount}}
              <span class="rub">i</span>
            </span>
            с бонусами</span>
        </div>
      </a>
    </div>
  {% endmacro %}